<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Actions</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            padding: 20px;
            text-align: center;
        }

        h2 {
            margin-top: 0;
            color: #333;
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            margin: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            text-decoration: none;
            color: #fff;
        }

        .upload {
            background-color: #0116fe;
        }

        .upload:hover {
            background-color: #0056b3;
        }

        .update {
            background-color: #28a745;
        }

        .update:hover {
            background-color: #218838;
        }
    </style>
</head>
<body>
    <h2>PDF ACTIONS</h2>
    <a href="/uploadpdf"><button class="button upload" >Upload PDF File</button></a>
    <!-- <a href="/uploadname"><button class="button update" >Upload Name of PDF</button></a> -->
</body>
</html>
